@charset "UTF-8";
/* -------------------обнуление----------- */
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* -------------------обнуление----------- */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.cotener {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: solid #bd0a0a; */
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-size: 14px;
  background-color: #fff;
  line-height: 1.5;
}

.activ::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heder {
  border-bottom: 1px solid #ececec;
}

.heder a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.nav {
  margin-left: 93px;
}

.nav,
.adress {
  font-weight: 500;
  letter-spacing: 0.03em;
}

.link {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: #2196f3;
}

.nav-list a {
  color: #212121;
}

.nav-list li:not(:last-child) {
  margin-right: 50px;
}

.adress a {
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons {
  fill: currentColor;
  margin-right: 10px;
}

.adress li:not(:first-child) {
  margin-left: 50px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}

.heder .logo {
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo > span {
  color: #2196f3;
}

.hiro {
  color: #ffffff;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 180px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.5)));
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.5));
  background-image: url(/images/Img\ bg);
}

.hiro-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */