@charset "UTF-8";
/* -------------------обнуление----------- */
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* -------------------обнуление----------- */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.list-title {
  color: #212121;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.cotener {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: solid #bd0a0a; */
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-size: 14px;
  background-color: #fff;
  line-height: 1.5;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heder {
  border-bottom: 1px solid #ececec;
}

.heder a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.nav {
  margin-left: 93px;
}

.nav,
.adress {
  font-weight: 500;
  letter-spacing: 0.03em;
}

.link {
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: #2196f3;
}

.link.activ::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.nav-list a {
  color: #212121;
}

.nav-list li:not(:last-child) {
  margin-right: 50px;
}

.adress a {
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons {
  fill: currentColor;
  margin-right: 10px;
}

.adress li:not(:first-child) {
  margin-left: 50px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}

.heder .logo {
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo > span {
  color: #2196f3;
}

.hiro {
  color: #ffffff;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 180px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.5)));
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.5));
  background-image: url(/images/Img-bg.jpg);
}

.hiro-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  font-family: inherit;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
}

.masters-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  -webkit-transition: color 250ms, background 200ms;
  transition: color 250ms, background 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.masters-soc-link:hover, .masters-soc-link:focus {
  background: #2196f3;
  color: #fff;
}

.masters-soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.masters-soc-item + .masters-soc-item {
  margin-left: 10px;
}

.masters-soc-icons {
  fill: currentColor;
}

.section {
  padding: 94px 0;
}

.bgc-greey {
  background-color: var(--bgc-body);
}

.list-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
}

.list-section .items {
  width: calc((100%-90px) / 4);
  margin-right: 30px;
}

.list-section .items:last-child {
  margin-right: 0;
}

.items-image {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

section.unit {
  padding-top: 94px;
}

.section-title {
  margin-bottom: 50px;
}

.thumb {
  position: relative;
}

.item img {
  display: block;
}

.overley {
  color: #fff;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px 0;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-img .item {
  width: calc((100%-60px) / 3);
  margin-right: 30px;
}

.item:last-child {
  margin-right: 0;
}

.text {
  line-height: 1.7;
}

.bgc-nogreey {
  background: #f5f4fa;
}

.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.section-title.imag {
  padding-top: 94px;
}

.img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  padding: 30px 0;
}

.card h3 {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.card {
  width: calc((100%-90px) / 4);
  margin-right: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card:last-child {
  margin-right: 0;
}

.company-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.company-list-link {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color 250ms, border-color 200ms;
  transition: color 250ms, border-color 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.company-list-link:hover, .company-list-link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.company-incons {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden .modal {
  opacity: 0.5;
  -webkit-transform: translate(-50%, -50%) scale(1.3);
          transform: translate(-50%, -50%) scale(1.3);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: opacity 300ms, visibility 300ms;
  transition: opacity 300ms, visibility 300ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.49, 0.02, 0.23, 0.92), -webkit-transform 250ms cubic-bezier(0.49, 0.02, 0.23, 0.92);
  transition: opacity 250ms cubic-bezier(0.49, 0.02, 0.23, 0.92), -webkit-transform 250ms cubic-bezier(0.49, 0.02, 0.23, 0.92);
  transition: transform 250ms cubic-bezier(0.49, 0.02, 0.23, 0.92), opacity 250ms cubic-bezier(0.49, 0.02, 0.23, 0.92);
  transition: transform 250ms cubic-bezier(0.49, 0.02, 0.23, 0.92), opacity 250ms cubic-bezier(0.49, 0.02, 0.23, 0.92), -webkit-transform 250ms cubic-bezier(0.49, 0.02, 0.23, 0.92);
}

.close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  outline: transparent;
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal > button {
  cursor: pointer;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close:focus-within .icon-close {
  fill: #2196f3;
}

.wraper-form {
  /* outline: 1px dashed #56ff47; */
  text-align: center;
}

.form-backdrop {
  text-align: center;
  margin: 0 auto;
}

.title-form {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 12px;
}

.style {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form-list input {
  outline: transparent;
  padding: 14px;
  padding-left: 45px;
  display: block;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-item {
  border-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
  /* background-color: rgb(167, 179, 233); */
}

.form-item:focus-within .style,
.form-item:active .style {
  border-color: var(--color-icon);
}

.form-item:focus-within .form-incons {
  fill: var(--color-icon);
}

.form-incons {
  position: absolute;
  top: 50%;
  left: 5%;
  fill: var(--title-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-item label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-item textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  outline: transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox a {
  text-decoration: underline;
  color: var(--color-icon);
}

.form-list {
  margin-bottom: 30px;
}

.check-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.check-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 7px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked + .check-span {
  background-color: #2196f3;
  border-color: transparent;
  overflow: hidden;
}

.input-check:focus + .check-span {
  border-color: var(--color-icon);
}

.futter {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.futter .cotener {
  text-align: start;
}

.futter .logo {
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
  padding: 0;
}

.adress-item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.adress-item:not(:last-child) {
  margin-bottom: 9px;
}

.adress-item a {
  color: rgba(255, 255, 255, 0.6);
}

a[href*="https"] {
  color: #ffffff;
}

.tumb-futter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.tumb-futter-list-items + .tumb-futter-list-items {
  margin-left: 75px;
}

.futter .section-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: start;
}

.soc {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.send-form {
  margin-left: 93px;
}

.send-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.send-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
}

.icon-send {
  margin-left: 10px;
}

.send-input {
  width: 358px;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */