$brend-color: #757575;
$title-color: #212121;
$bgc: #2f303a;
$let-spas: 0.03em;
$bgc-body: #e5e5e5;
$color-icon: #2196f3;
// ----------------------------------480px, 768px и 1200px.
$mob-scrin:480px;
$tabl-scrin:768px;
$desct-scrin:1200px;