.logo {
   font-family: "Raleway";
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   letter-spacing: 0.03em;
   color: $title-color;
}
.heder .logo {
   padding-top: 25px;
   padding-bottom: 25px;
}

.logo > span {
   color: $color-icon;
}