
.list-section {
   display: flex;
   text-align: start;
}

.list-section__items {
   width: calc((100%-90px) / 4);
   margin-right: 30px;
}
.list-section__items:last-child {
   margin-right: 0;
}

.list-section__image {
   height: 120px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 30px;
   background: #f5f4fa;
   border-radius: 4px;
}
.unit {
   padding-top: 94px;
}
.list-section__title {
   @extend %title;
}
