.section {
   padding: 94px 0;
}

.bgc-greey {
   background-color: var(--bgc-body);
}

.list-section {
   display: flex;
   text-align: start;
}

.list-section .items {
   width: calc((100%-90px) / 4);
   margin-right: 30px;
}
.list-section .items:last-child {
   margin-right: 0;
}

.items-image {
   height: 120px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 30px;
   background: #f5f4fa;
   border-radius: 4px;
}
section.unit {
   padding-top: 94px;
}